html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* Apply the filter directly on the body tag */
body.dark-theme img {
  filter: brightness(0.8) contrast(1.2);
}

body.dark-theme {
  font-weight: 350;
}

body.dark-theme svg.icon path {
  fill: #efefef;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-margin-top: 2rem;
}
